(
    object_type: "item",
    id: "stove",
    
    image: (
        path: "stove.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "object",
        group: "facility",
        basic_price: 540,
        w: 80000,
        gen_weight: 0,
        gen_level: 0,
        attrs: [
            Facility(
                type: "stove",
                quality: 0,
            )
        ]
    ),
)
