(
    object_type: "item",
    id: "berry-bush-01",
    
    image: (
        path: "berry-bush-01.png",
        copyright: "T.Okubo",
        w: 36,
        h: 36,
        grid_nx: 2,
        grid_ny: 1,
        n_pattern: 2,
        variation_rule: Growing,
    ),
    
    item: (
        item_kind: "object",
        group: "tree",
        basic_price: 100,
        w: 15000,
        gen_weight: 0,
        gen_level: 0,
        harvest: (
            kind: Plant,
            item: [("wild-berry", 2)],
            difficulty: 0,
        ),
        attrs: [
            Plant(
                growing_time_hours: 72,
            )
        ]
    ),
)
