(
    object_type: "item",
    id: "blunderbuss",
    
    image: (
        path: "blunderbuss.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "weapon",
        group: "gun",
        basic_price: 600,
        w: 2000,
        quality_kind: Mutable,
        gen_weight: 2,
        gen_level: 1,
        power: 8,
        power_var: 4,
        weapon_kind: Firearm,
        attrs: [
            AnimImgShot("shotgun-bullet-01"),
            Sound("gun-01"),
        ]
    ),
)
