(
    object_type: "chara_template",
    id: "shopkeeper-f-01",
    
    image: (
        path: "shopkeeper-f-01.png",
        copyright: "T.Okubo",
        w: 24,
        h: 48,
    ),
    
    chara_template: (
        race: "human",
        class: "merchant",
        faction: "civilian",
        gen_weight: 0,
        gen_level: 0,
        default_ai_kind: "shopkeeper",
        skill_bonus: {},
        base_hp: 100,
        str: 13,
        vit: 19,
        dex: 22,
        int: 20,
        wil: 13,
        cha: 19,
        spd: 100,
    ),
)
