(
    object_type: "chara_template",
    id: "shopkeeper-m-01",
    
    image: (
        path: "shopkeeper-m-01.png",
        copyright: "T.Okubo",
        w: 24,
        h: 48,
    ),
    
    chara_template: (
        race: "human",
        class: "merchant",
        faction: "civilian",
        gen_weight: 0,
        gen_level: 0,
        default_ai_kind: "shopkeeper",
        skill_bonus: {},
        base_hp: 100,
        str: 14,
        vit: 20,
        dex: 22,
        int: 20,
        wil: 11,
        cha: 17,
        spd: 100,
        carry: 2,
        travel_speed: 4,
    ),
)
