{
    "fire-ball": Ability(
        category: "ether",
        group: "heat",
        icon: "",
        power_calc: Magic(Heat),
        cost_mp: 50,
        effect: Effect(
            kind: [Explosion( element: Heat )],
            target_mode: Enemy,
            base_power: (10, 2),
            range: 6,
            shape: Circle,
            size: 1,
            anim_kind: Tile,
            anim_img: "explosion-01",
            sound: "explosion-01",
        )
    )
}
