(
    art_recipes: [
        (
            product: "small-sculpture",
            ingredients: [
                ("group/stone", 4),
            ],
            difficulty: 0,
            required_time: Long,
            put_on_ground: true,
        ),
    ],
)
