(
    smith_recipes: [
        (
            product: "copper-plate",
            ingredients: [
                ("copper-ore", 0),
            ],
            facility: Some("furnance"),
            difficulty: 0,
            required_time: Medium,
        ),
        (
            product: "iron-plate",
            ingredients: [
                ("iron-ore", 1),
            ],
            facility: Some("furnance"),
            difficulty: 4,
            required_time: Medium,
        ),
    ],
) 
