(
    craft_recipes: [
        (
            product: "bokken",
            ingredients: [
                ("group/lightweight", 1),
            ],
            facility: None,
            difficulty: 0,
            required_time: Short,
        ),
    ],
    smith_recipes: [
        (
            product: "dagger",
            ingredients: [
                ("group/metal", 1),
            ],
            facility: Some("furnance"),
            difficulty: 1,
            required_time: Medium,
        ),
    ],
)
