(
    object_type: "item",
    id: "torch-arrow",
    
    image: (
        path: "torch-arrow.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "magic_device",
        group: "torch",
        basic_price: 2000,
        w: 600,
        quality_kind: Mutable,
        gen_weight: 20,
        gen_level: 0,
        attrs: [
            Charge(min: 8, max: 16),
            Release(
                power: (50, 10),
                effect: (
                    kind: [Ranged(element:Physical)],
                    target_mode: Enemy,
                    range: 7,
                    shape: OneTile,
                    size: 0,
                    anim_img: "",
                    anim_kind: Shot,
                    anim_img_shot: "magic-arrow-physical",
                    sound: "",
                )
            )
        ]
    ),
)
