(
    object_type: "item",
    id: "shortbow",
    
    image: (
        path: "shortbow.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "weapon",
        group: "bow",
        basic_price: 40,
        w: 600,
        quality_kind: Mutable,
        gen_weight: 3,
        gen_level: 0,
        weapon_kind: Bow,
        material_group: "wood",
        attrs: [
            WeaponPower((4, 2)),
        ]
    ),
)
