(
    object_type: "item",
    id: "bronze-plate",
    
    image: (
        path: "bronze-plate.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "material",
        group: "metal",
        basic_price: 1000,
        w: 1200,
        gen_weight: 4,
        gen_level: 0,
        material: "bronze",
    ),
)
