(
    object_type: "item",
    id: "granite-block",
    
    image: (
        path: "granite-block.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "material",
        group: "stone-material",
        basic_price: 100,
        w: 5000,
        gen_weight: 1,
        gen_level: 1,
        material: "granite",
    ),
)
