(
    object_type: "item",
    id: "iron-ore",
    
    image: (
        path: "iron-ore.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "material",
        group: "ore",
        basic_price: 100,
        w: 5000,
        gen_weight: 50,
        gen_level: 1,
    ),
)
