(
    object_type: "item",
    id: "steel-plate",
    
    image: (
        path: "steel-plate.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "material",
        group: "metal",
        basic_price: 1000,
        w: 1000,
        gen_weight: 10,
        gen_level: 0,
        material: "steel",
    ),
)
