(
    object_type: "wall",
    id: "plasteel-wall-01",

    image: (
        path: "plasteel-wall-01.png",
        copyright: "T.Okubo",
        w: 48,
        h: 48,
        grid_nx: 3,
        grid_ny: 2,
        n_pattern: 5,
    ),

    wall: (
        hp: 50000,
    ),
)
