(
    object_type: "item",
    id: "table-03",
    
    image: (
        path: "table-03.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "object",
        group: "furniture",
        basic_price: 2000,
        w: 6000,
        gen_weight: 0,
        gen_level: 0,
    ),
)
