(
    object_type: "item",
    id: "t-shirt",

    image: (
        path: "t-shirt.png",
        copyright: "T.Okubo",
    ),

    item: (
        item_kind: "armor",
        group: "shirt",
        basic_price: 200,
        w: 300,
        quality_kind: Mutable,
        gen_weight: 4,
        gen_level: 0,
        armor_kind: Skin,
        material_group: "cloth",
        attrs: [
            Defence((2, 2, 2, 1, 1, 0)),
        ]
    ),
)
