(
    object_type: "chara_template",
    id: "mouse",
    
    image: (
        path: "mouse.png",
        copyright: "T.Okubo",
        w: 24,
        h: 12,
    ),
    
    chara_template: (
        race: "animal",
        class: "animal",
        faction: "monster",
        gen_weight: 200,
        gen_level: 1,
        default_ai_kind: "melee",
        skill_bonus: {
            Endurance: Bad,
        },
        base_hp: 20,
        str: 14,
        vit: 14,
        dex: 13,
        int: 8,
        wil: 11,
        cha: 9,
        spd: 110,
    ),
)
