(
    object_type: "chara_template",
    id: "raven",
    
    image: (
        path: "raven.png",
        copyright: "T.Okubo",
        w: 32,
        h: 48,
    ),
    
    chara_template: (
        race: "animal",
        class: "predator",
        gen_weight: 200,
        gen_level: 6,
        default_ai_kind: "melee",
        skill_bonus: {},
        base_hp: 45,
        str: 17,
        vit: 13,
        dex: 18,
        int: 15,
        wil: 13,
        cha: 12,
        spd: 160,
    ),
)
