(
    object_type: "item",
    id: "chair-02",
    
    image: (
        path: "chair-02.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "object",
        group: "furniture",
        basic_price: 400,
        w: 1500,
        gen_weight: 0,
        gen_level: 0,
    ),
)
