(
    object_type: "item",
    id: "cupboard-01",
    
    image: (
        path: "cupboard-01.png",
        copyright: "T.Okubo",
        w: 48,
        h: 48,
    ),
    
    item: (
        item_kind: "object",
        group: "furniture",
        basic_price: 3000,
        w: 22000,
        gen_weight: 0,
        gen_level: 0,
    ),
)
