(
    object_type: "item",
    id: "plant-pot-01",
    
    image: (
        path: "plant-pot-01.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "object",
        group: "furniture",
        basic_price: 240,
        w: 1400,
        gen_weight: 0,
        gen_level: 0,
    ),
)
