(
    object_type: "item",
    id: "table-01",
    
    image: (
        path: "table-01.png",
        copyright: "T.Okubo",
        w: 48,
        h: 48,
    ),
    
    item: (
        item_kind: "object",
        group: "furniture",
        basic_price: 1480,
        w: 5500,
        gen_weight: 0,
        gen_level: 0,
    ),
)
