(
    object_type: "item",
    id: "breastplate",
    
    image: (
        path: "breastplate.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "armor",
        group: "breastplate",
        basic_price: 500,
        w: 5000,
        quality_kind: Mutable,
        gen_weight: 3,
        gen_level: 11,
        def: (6, 4, 4, 2, 2, 0),
        armor_kind: Body,
        material_group: "metal",
    ),
)
