(
    object_type: "item",
    id: "corn-plant",
    
    image: (
        path: "corn-plant.png",
        copyright: "T.Okubo",
        w: 48,
        h: 48,
        grid_nx: 2,
        grid_ny: 2,
        n_pattern: 4,
        variation_rule: Growing,
    ),
    
    item: (
        item_kind: "object",
        group: "crop",
        basic_price: 0,
        w: 10000,
        gen_weight: 0,
        gen_level: 0,
        attrs: [
            Plant(
                growing_duration: "18d",
                required_fertility: 100,
            ),
            Harvest(
                kind: Plant,
                items: [("corn", 12, 20)],
                difficulty: 5,
            ),
        ]
    ),
)
