(
    object_type: "tile",
    id: "rm.broken-building-01",
    
    image: (
        path: "rm.broken-building-01.png",
        copyright: "T.Okubo",
        w: 48,
        h: 48,
    ),
    
    tile: (
        kind: Ground,
    ),
)
