(
    object_type: "tile",
    id: "wood-floor-02",
    
    image: (
        path: "wood-floor-02.png",
        copyright: "T.Okubo",
        w: 48,
        h: 48,
    ),
    
    tile: (
        kind: Ground,
    ),
)
