(
    object_type: "item",
    id: "aconitum",
    
    image: (
        path: "aconitum.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "food",
        group: "herb",
        basic_price: 20,
        w: 20,
        quality_kind: Mutable,
        gen_weight: 10,
        gen_level: 0,
        eff: 10,
        medical_effect: (
            kind: [
                Status(status:Poison),
            ],
            target_mode: Enemy,
            range: 0,
            shape: OneTile,
            size: 0,
        ),
    ),
)
