(
    object_type: "item",
    id: "lily-of-the-valley",
    
    image: (
        path: "lily-of-the-valley.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "food",
        group: "herb",
        basic_price: 900,
        w: 40,
        quality_kind: Mutable,
        gen_weight: 0,
        gen_level: 0,
        attrs: [
            Nutrition(200),
            Medical(
                power: (10, 0),
                effect: (
                    kind: [Status(status:Poison)],
                    target_mode: Enemy,
                    range: 0,
                    shape: OneTile,
                    size: 0,
                    anim_kind: Chara,
                    anim_img: "",
                    sound: "",
                ),
            )
        ]
    ),
)
