(
    object_type: "item",
    id: "medical-herb",
    
    image: (
        path: "medical-herb.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "food",
        group: "herb",
        basic_price: 30,
        w: 15,
        quality_kind: Mutable,
        gen_weight: 10,
        gen_level: 0,
        attrs: [
            Medical(
                effect: (
                    kind: [RecoverHp],
                    target_mode: Ally,
                    base_power: (20, 2),
                    range: 0,
                    shape: OneTile,
                    size: 0,
                    anim_kind: Chara,
                    anim_img: "",
                    sound: "",
                ),
            )
        ]
    ),
)
