(
    object_type: "item",
    id: "medical-herb",
    
    image: (
        path: "medical-herb.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "food",
        group: "herb",
        basic_price: 30,
        w: 15,
        quality_kind: Mutable,
        gen_weight: 10,
        gen_level: 1,
        power: 30,
        medical_effect: (
            kind: [
                RecoverHp,
            ],
            target_mode: Enemy,
            range: 0,
            shape: OneTile,
            size: 0,
        ),
    ),
)
