(
    object_type: "item",
    id: "ability-module-shock",
    
    image: (
        path: "ability-module-shock.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "module",
        group: "extend",
        basic_price: 15000,
        w: 70,
        gen_weight: 1,
        gen_level: 0,
        attrs: [
            Module (
                effects: [
                    (Ability ( group: "shock" ), 1.0),
                ]
            )
        ]
    ),
)
