(
    object_type: "chara_template",
    id: "magma-slime",
    
    image: (
        path: "magma-slime.png",
        copyright: "T.Okubo",
        w: 24,
        h: 48,
    ),
    
    chara_template: (
        race: "slime",
        class: "predator",
        faction: "monster",
        gen_weight: 10,
        gen_level: 25,
        default_ai_kind: "melee",
        skill_bonus: {},
        base_hp: 230,
        str: 16,
        vit: 18,
        dex: 15,
        int: 20,
        wil: 20,
        cha: 24,
        spd: 75,
        carry: 2,
        cruise_speed: 2,
    ),
)
