(
    object_type: "item",
    id: "boots",

    image: (
        path: "boots.png",
        copyright: "T.Okubo",
    ),

    item: (
        item_kind: "armor",
        group: "boots",
        basic_price: 1000,
        w: 300,
        quality_kind: Mutable,
        gen_weight: 1,
        gen_level: 0,
        armor_kind: Legs,
        material_group: "leather",
        attrs: [
            Defence((4, 4, 4, 2, 1, 0)),
        ]
    ),
)
