(
    object_type: "item",
    id: "sandals",

    image: (
        path: "sandals.png",
        copyright: "T.Okubo",
    ),

    item: (
        item_kind: "armor",
        group: "shoes",
        basic_price: 50,
        w: 300,
        quality_kind: Mutable,
        gen_weight: 1,
        gen_level: 1,
        def: (2, 0, 0, 0, 0, 0),
        armor_kind: Legs,
        material_group: "leather",
    ),
)
