(
    object_type: "site_gen",
    id: "freedom-town",
    
    site_gen: (
        kind: Town,
        site_symbol: "rm-town",
        map_template_id: [
            "freedom-town-1",
        ],
        default_faction_id: "citizen",
        unique_citizens: [
            (
                pos: (22, 10),
                floor: 0,
                n: 0,
                chara_template_id: "guild-informant",
                talk_script_id: "guild-informant",
            ),
            (
                pos: (17, 3),
                floor: 0,
                n: 1,
                chara_template_id: "town-girl-01",
                talk_script_id: "hello",
            ),
            (
                pos: (7, 23),
                floor: 0,
                n: 2,
                chara_template_id: "u-captain",
                talk_script_id: "u-captain",
            ),
            (
                pos: (30, 18),
                floor: 0,
                n: 3,
                chara_template_id: "shopkeeper-m-01",
                talk_script_id: "shop",
            ),
            (
                pos: (12, 11),
                floor: 0,
                n: 4,
                chara_template_id: "shopkeeper-m-01",
                talk_script_id: "shop",
            ),
            (
                pos: (36, 3),
                floor: 0,
                n: 5,
                chara_template_id: "prof",
                talk_script_id: "prof-mayer",
            ),
            (
                pos: (25, 12),
                floor: 0,
                n: 6,
                chara_template_id: "shopkeeper-m-01",
                talk_script_id: "shop",
            ),
        ],
        shops: [
            (
                chara_n: 3,
                kind: Equipment,
                id: [],
            ),
            (
                chara_n: 4,
                kind: Food,
                id: [],
            ),
            (
                chara_n: 6,
                kind: Specified,
                id: ["skill-cartridge"],
            ),
        ],
    ),
)
