(
    object_type: "site_gen",
    id: "scena-village",
    
    site_gen: (
        kind: Town,
        site_symbol: "rm-town",
        map_template_id: [
            "scena-village-1",
        ],
        default_faction_id: "free_frontier",
        unique_citizens: [
            (
                pos: (13, 15),
                floor: 0,
                n: 0,
                chara_template_id: "u-lucetta",
                talk_script_id: "shop",
            ),
            (
                pos: (10, 10),
                floor: 0,
                n: 1,
                chara_template_id: "peasant-m-01",
                talk_script_id: "scena-civilian-random-01",
            ),
        ],
        shops: [
            (
                chara_n: 0,
                selector: "group/seed,fertilizer",
            ),
        ],
    ),
)
