(
    object_type: "chara_template",
    id: "footpad",
    
    image: (
        path: "footpad.png",
        copyright: "T.Okubo",
        w: 24,
        h: 48,
    ),
    
    chara_template: (
        race: "human",
        class: "hunter",
        faction: "bandit",
        gen_weight: 10,
        gen_level: 1,
        skill_bonus: {},
        base_hp: 100,
        base_mp: 100,
        str: 17,
        vit: 15,
        dex: 19,
        int: 14,
        wil: 11,
        cha: 11,
        spd: 100,
        carry: 2,
        travel_speed: 4,
    ),
)
