(
    pharmacy_recipes: [
        (
            product: "healing-potion",
            ingredients: [
                ("medical-herb", 3),
            ],
            facility: Some("pharmacy"),
            difficulty: 0,
            required_time: Short,
        ),
    ],
)
