(
    object_type: "chara_template",
    id: "prof",
    
    image: (
        path: "prof.png",
        copyright: "T.Okubo",
        w: 24,
        h: 48,
    ),
    
    chara_template: (
        race: "human",
        class: "archaeologist",
        gen_weight: 0,
        gen_level: 0,
        default_ai_kind: "shopkeeper",
        skill_bonus: {},
        base_hp: 100,
        base_mp: 100,
        str: 14,
        vit: 20,
        dex: 20,
        int: 25,
        wil: 20,
        cha: 20,
        spd: 100,
        carry: 2,
        travel_speed: 4,
    ),
)
