(
    object_type: "item",
    id: "game-manual",
    
    image: (
        path: "game-manual.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "readable",
        group: "manual",
        basic_price: 200,
        w: 200,
        gen_weight: 100,
        gen_level: 0,
        attrs: [
            Titles(
                ["game-manual"],
            )
        ],
    ),
)
