(
    object_type: "item",
    id: "travel-guide",
    
    image: (
        path: "travel-guide.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "readable",
        group: "manual",
        basic_price: 200,
        w: 200,
        gen_weight: 100,
        gen_level: 0,
        titles: [
            "geography-of-the-north-continent",
        ],
    ),
)
