(
    object_type: "item",
    id: "woodcutters-axe",
    
    image: (
        path: "woodcutters-axe.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "tool",
        group: "tool",
        basic_price: 100,
        w: 500,
        gen_weight: 0,
        gen_level: 0,
        attrs: [
            Tool(Chop),
        ]
    ),
)
