(
    object_type: "item",
    id: "platearmor",
    
    image: (
        path: "platearmor.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "armor",
        group: "platearmor",
        basic_price: 5000,
        w: 20000,
        quality_kind: mutable,
        gen_weight: 2,
        gen_level: 15,
        def: ((15, 7, 7, 4, 5, 0)),
        armor_kind: body,
        material_group: "metal",
    ),
)
