(
    object_type: "chara_template",
    id: "archaeologist-m",
    
    image: (
        path: "archaeologist-m.png",
        copyright: "T.Okubo",
        w: 24,
        h: 48,
    ),
    
    chara_template: (
        race: "human",
        gen_weight: 0,
        gen_level: 1,
        default_ai_kind: None,
        skill_bonus: {},
        base_hp: 100,
        str: 15,
        vit: 18,
        dex: 26,
        int: 24,
        wil: 18,
        cha: 18,
        spd: 100,
    ),
)
