(
    object_type: "ui_img",
    id: "!toolbar-icon-frame",
    
    image: (
        path: "toolbar-icon-frame.png",
        copyright: "T.Okubo",
        w: 34,
        h: 34,
        grid_nx: 2,
        grid_ny: 2,
    ),
)
