(
    object_type: "chara_template",
    id: "giant-ant",
    
    image: (
        path: "giant-ant.png",
        copyright: "T.Okubo",
        w: 24,
        h: 24,
    ),
    
    chara_template: (
        race: "bug",
        class: "predator",
        gen_weight: 150,
        gen_level: 1,
        default_ai_kind: "melee",
        skill_bonus: {},
        base_hp: 35,
        str: 12,
        vit: 13,
        dex: 10,
        int: 9,
        wil: 6,
        cha: 10,
        spd: 100,
    ),
)
