(
    object_type: "chara_template",
    id: "killer-scorpion",
    
    image: (
        path: "killer-scorpion.png",
        copyright: "T.Okubo",
        w: 32,
        h: 32,
    ),
    
    chara_template: (
        race: "bug",
        gen_weight: 50,
        gen_level: 32,
        default_ai_kind: "melee",
        skill_bonus: {},
        base_hp: 45,
        str: 22,
        vit: 20,
        dex: 16,
        int: 8,
        wil: 9,
        cha: 15,
        spd: 100,
    ),
)
