(
    object_type: "chara_template",
    id: "scorpion",
    
    image: (
        path: "scorpion.png",
        copyright: "T.Okubo",
        w: 32,
        h: 32,
    ),
    
    chara_template: (
        race: "bug",
        class: "predator",
        faction: "monster",
        gen_weight: 50,
        gen_level: 20,
        default_ai_kind: "melee",
        skill_bonus: {},
        base_hp: 45,
        str: 16,
        vit: 15,
        dex: 14,
        int: 8,
        wil: 9,
        cha: 12,
        spd: 100,
        carry: 1,
        travel_speed: 4,
    ),
)
