(
    object_type: "item",
    id: "date-palm-01",
    
    image: (
        path: "date-palm-01.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "object",
        group: "tree",
        basic_price: 100,
        w: 100000,
        gen_weight: 0,
        gen_level: 0,
        harvest: (
            kind: Chop,
            item: [("wood", 15, 30)],
            difficulty: 0,
        ),
        attrs: [
            Plant(
                growing_time_hours: 0,
            )
        ]
    ),
)
