(
    default_view_range: 5,
    min_spd: 10,
    max_hp_skill_factor: 8,
    max_mp_skill_factor: 8,
    hp_regeneration_probability: 0.3,
    hp_regeneration_factor: 1.5,
    sp_default: 100,
    sp_max: 100,
    sp_consumption: 0.05,
    sp_consumption_regen: 0.2,
    sp_consumption_factor_in_region_map: 40,
    sp_hungry: 20,
    sp_weak: 10,
    sp_starving: 0,
    sp_nutrition_factor: 0.04,
    carrying_capacity_factor: 100,
    carrying_capacity_threshold_burdened: 1,
    carrying_capacity_threshold_stressed: 1.5,
    carrying_capacity_threshold_strained: 2,
    carrying_capacity_threshold_overloaded: 3,
    speed_coeff_burdened: 0.8,
    speed_coeff_stressed: 0.6,
    speed_coeff_strained: 0.3,
    speed_coeff_overloaded: 0.1,
)
