(
    common_skills: [
        BareHands,
        Carrying,
        Defence,
        Endurance,
        Evasion,
        Healing,
    ],
    equip_slots: [
        MeleeWeapon,
        RangedWeapon,
        Tool,
    ],
)
