{
    "strong": (
        cost: 1,
        properties: [
            CharaStr(2),
            CharaVit(3),
        ],
    ),
    "intelligent": (
        cost: 1,
        properties: [
            CharaInt(5),
        ],
    ),
    "monk": (
        cost: 1,
        properties: [
            CharaWil(5),
        ],
    ),
    "pretty": (
        cost: 1,
        properties: [
            CharaCha(5),
        ],
    ),
}
