{
    /* default */
    "": (
        revision: (
            hp: 0,
            str: 0,
            vit: 0,
            dex: 0,
            int: 0,
            wil: 0,
            cha: 0,
            spd: 0,
        ),
        skill_bonus: {
        },
    ),
    /* Available for PC */
    "archaeologist": (
        revision: (
            hp: 10,
            str: -2,
            vit: 2,
            dex: 4,
            int: 2,
            wil: 1,
            cha: 2,
            spd: 0,
        ),
        skill_bonus: {
            Whip: Good,
            Art: SlightlyGood,
        },
        equips: [
            (RangedWeapon, "group/bow", 0),
            (Head, "group/hat", 0),
            (Skin, "group/shirt", 0),
            (Body, "breastplate", 0),
            (Legs, "group/boots", 0),
        ]
    ),
    "farmer": (
        revision: (
            hp: 0,
            str: 1,
            vit: 2,
            dex: -2,
            int: -2,
            wil: -1,
            cha: -4,
            spd: 0,
        ),
        skill_bonus: {
            Plants: Excellent,
        },
        equips: [
            (RangedWeapon, "group/bow", 0),
            (Head, "group/hat", 0),
            (Skin, "group/shirt", 0),
            (Body, "breastplate", 0),
            (Legs, "group/boots", 0),
        ]
    ),
    "hunter": (
        revision: (
            hp: 0,
            str: 2,
            vit: 1,
            dex: 4,
            int: -3,
            wil: -2,
            cha: -1,
            spd: 0,
        ),
        skill_bonus: {
            Bow: Good,
        },
        equips: [
            (RangedWeapon, "group/bow", 0),
            (Head, "group/hat", 0),
            (Skin, "group/shirt", 0),
            (Body, "breastplate", 0),
            (Legs, "group/boots", 0),
        ]
    ),
    "merchant": (
        revision: (
            hp: 30,
            str: -3,
            vit: 2,
            dex: -1,
            int: 3,
            wil: -2,
            cha: 1,
            spd: 0,
        ),
        skill_bonus: {
            Throwing: Good,
        },
        equips: [
            (Head, "group/hat", 0),
            (Skin, "group/shirt", 0),
            (Body, "breastplate", 0),
            (Legs, "group/shoes", 0),
        ]
    ),
    "rogue": (
        revision: (
            hp: -10,
            str: -2,
            vit: 0,
            dex: 4,
            int: -1,
            wil: -2,
            cha: 0,
            spd: 5,
        ),
        skill_bonus: {
            Throwing: Good,
        },
    ),
    "warrior": (
        revision: (
            hp: 20,
            str: 6,
            vit: 5,
            dex: 0,
            int: -2,
            wil: -3,
            cha: 0,
            spd: 0,
        ),
        skill_bonus: {
        },
    ),
    /* For NPC */
    "animal": (
        revision: (
            hp: 0,
            str: 0,
            vit: 0,
            dex: 0,
            int: 0,
            wil: 0,
            cha: 0,
            spd: 0,
        ),
        skill_bonus: {
            BareHands: SlightlyGood,
        },
    ),
    "civilian": (
        revision: (
            hp: 0,
            str: -4,
            vit: -3,
            dex: 0,
            int: 0,
            wil: 0,
            cha: 0,
            spd: 0,
        ),
        skill_bonus: {
        },
    ),
    "guard": (
        revision: (
            hp: 0,
            str: 0,
            vit: 2,
            dex: 0,
            int: 0,
            wil: 0,
            cha: 0,
            spd: 0,
        ),
        skill_bonus: {
        },
    ),
    "predator": (
        revision: (
            hp: 0,
            str: 0,
            vit: 0,
            dex: 0,
            int: 0,
            wil: 0,
            cha: 0,
            spd: 0,
        ),
        skill_bonus: {
            BareHands: Good,
        },
    ),
}
