(
    required_time: {
        VeryShort: 5,
        Short: 10,
        Medium: 16,
        Long: 32,
        VeryLong: 50,
    },
    recipe_learning_item_factor: 8,
    recipe_learning_item_initial: 5,
)
