(
    item_drink_power_factor: 4000,
    item_eat_power_factor: 4000,
    mining_power_factor: 50,
    mining_power_base: 20,
    restore_hp_factor: 0.0005,
    throw_weight_to_power_factor: 0.001,
)
