(
    relation_friend: 80,
    relation_neutral: 0,
    factions: {
        "!unknown": (
            default_relation: 0,
        ),
        "!player": (
            default_relation: 100,
        ),
        "monster": (
            default_relation: -100,
        ),
        "bandit": (
            default_relation: -100,
        ),
        "civilian": (
            default_relation: 0,
        ),
        "scientists": (
            default_relation: 20,
        ),
        "free_frontier": (
            default_relation: 0,
        ),
    },
)
