(
    class_choices: [
        "archaeologist",
        "thief",
        "warrior",
    ],
    trait_choices: [
        "strong",
        "intelligent",
        "monk",
        "beautiful",
    ],
    trait_initial_point: 2,
    start_region: "south-coast",
    start_pos: (43, 48),
    start_money: 1000,
    chara_template_table: {
        "archaeologist": "archaeologist-m",
        "thief": "thief-m",
        "warrior": "warrior-m",
    },
    common_initial_skills: [
        Throwing,
    ],
    common_initial_active_skills: [
    ],
    common_initial_items: [
        ("hard-biscuit", 8),
        ("canned-ration", 3),
    ],
    initial_date_year: 100,
    initial_date_month: 1,
    initial_date_day: 1,
    initial_date_hour: 1,
)
