(
    class_choices: [
        "archaeologist",
        "rogue",
        "warrior",
    ],
    start_region: "south-coast",
    start_pos: (43, 48),
    start_money: 1000,
    chara_template_table: {
        "archaeologist": "archaeologist-m",
        "rogue": "rogue-m",
        "warrior": "warrior-m",
    },
    common_initial_skills: [
        Throwing,
    ],
    common_initial_active_skills: [
        "fire-ball",
    ],
    initial_date_year: 100,
    initial_date_month: 1,
    initial_date_day: 1,
    initial_date_hour: 1,
)
