{
    "human": (
        equip_slots: [
            BodyArmor,
        ],
        element_protection: (
            0,
            0,
            0,
            0,
            0,
            0,
        ),
    ),
}
