{
    "human": (
        equip_slots: [
            Shield, Head, Skin, Body, Arms, Legs,
        ],
        element_protection: (
            0,
            0,
            0,
            0,
            0,
            0,
        ),
    ),
}
