{
    "!": (),
    "animal": (
        equip_slots: [],
        element_protection: (
            0,
            0,
            0,
            0,
            0,
            0,
        ),
    ),
    "bug": (
        equip_slots: [],
        element_protection: (
            0,
            0,
            0,
            0,
            0,
            0,
        ),
    ),
    "ghost": (
        equip_slots: [],
        element_protection: (
            0,
            0,
            0,
            0,
            0,
            0,
        ),
    ),
    "human": (
        equip_slots: [
            Shield, Head, Skin, Body, Arms, Legs,
        ],
        element_protection: (
            0,
            0,
            0,
            0,
            0,
            0,
        ),
    ),
    "machine": (
        equip_slots: [ArmorPlate],
        element_protection: (
            10,
            10,
            10,
            -50,
            100,
            100,
        ),
    ),
    "slime": (
        equip_slots: [],
        element_protection: (
            0,
            0,
            0,
            0,
            0,
            0,
        ),
    ),
    "turret": (
        base_race: "machine",
        equip_slots: [ArmorPlate],
        element_protection: (
            10,
            10,
            10,
            -50,
            100,
            100,
        ),
    ),
}
