{
    "onibi": (
        kind: Special,
        effect: (
            kind: [
                Direct(element: Fire),
            ],
            target_mode: Enemy,
            range: 4,
            shape: Circle,
            size: 1,
            anim_kind: Tile,
            anim_img: "explosion-01",
            sound: "explosion-01",
        )
    ),
}
