{
    "beautiful": (
        cost: 1,
        properties: [
            Cha(5),
        ],
    ),
    "intelligent": (
        cost: 1,
        properties: [
            Int(5),
        ],
    ),
    "monk": (
        cost: 1,
        properties: [
            Wil(5),
        ],
    ),
    "strong": (
        cost: 1,
        properties: [
            Str(2),
            Vit(3),
        ],
    ),
}
