(
    object_type: "item",
    id: "skill-cartridge",
    
    image: (
        path: "skill-cartridge.png",
        copyright: "T.Okubo",
    ),
    
    item: (
        item_kind: "special",
        group: "skill-cartridge",
        basic_price: 100000,
        w: 80,
        gen_weight: 0.5,
        gen_level: 0,
        use_effect: Effect((
            kind: [
                SkillLearning(skills:[]),
            ],
            target_mode: Ally,
            power_adjust: [],
            range: 2,
            shape: OneTile,
            size: 0,
            anim_kind: Chara,
            anim_img: "",
            sound: "",
        )),
    ),
)
