(
    object_type: "item",
    id: "bread",
    
    image: (
        copyright: "T.Okubo",
        path: "bread.png",
    ),
    
    item: (
        item_kind: "food",
        group: "bread",
        gen_weight: 10,
        shop_weight: 30,
        gen_level: 1,
        basic_price: 300,
        w: 200,
        attrs: [
            Nutrition(200),
            Rot("15d"),
        ],
    ),
)
