(
    object_type: "item",
    id: "custard-pudding",
    
    image: (
        copyright: "T.Okubo",
        path: "custard-pudding.png",
    ),
    
    item: (
        item_kind: "food",
        group: "sweets",
        gen_weight: 0,
        shop_weight: 2,
        gen_level: 0,
        basic_price: 2400,
        w: 200,
        attrs: [
            Nutrition(800),
            Rot("8h"),
        ],
    ),
)
