(
    object_type: "item",
    id: "failed-dish",
    
    image: (
        copyright: "T.Okubo",
        path: "failed-dish.png",
    ),
    
    item: (
        item_kind: "food",
        group: "dish",
        gen_weight: 0,
        shop_weight: 0,
        gen_level: 0,
        basic_price: 10,
        w: 200,
        attrs: [
            Nutrition(10),
        ],
    ),
)
