(
    object_type: "item",
    id: "fried-egg",
    
    image: (
        copyright: "T.Okubo",
        path: "fried-egg.png",
    ),
    
    item: (
        item_kind: "food",
        group: "dish",
        gen_weight: 0,
        shop_weight: 2,
        gen_level: 1,
        basic_price: 800,
        w: 180,
        attrs: [
            Nutrition(250),
            Rot("1d"),
        ],
    ),
)
