(
    object_type: "item",
    id: "mochi",
    
    image: (
        copyright: "T.Okubo",
        path: "mochi.png",
    ),
    
    item: (
        item_kind: "food",
        group: "dish",
        gen_weight: 2,
        shop_weight: 1,
        gen_level: 1,
        basic_price: 2000,
        w: 100,
        attrs: [
            Nutrition(1500),
        ],
    ),
)
