(
    object_type: "item",
    id: "orange",
    
    image: (
        copyright: "T.Okubo",
        path: "orange.png",
    ),
    
    item: (
        item_kind: "food",
        group: "fruit",
        gen_weight: 8,
        shop_weight: 10,
        gen_level: 0,
        basic_price: 100,
        w: 250,
        attrs: [
            Nutrition(200),
            Rot("20d"),
        ],
    ),
)
