(
    object_type: "item",
    id: "potato",
    
    image: (
        copyright: "T.Okubo",
        path: "potato.png",
    ),
    
    item: (
        item_kind: "food",
        group: "vegetable",
        gen_weight: 1,
        shop_weight: 40,
        gen_level: 0,
        basic_price: 200,
        w: 500,
        attrs: [
            Nutrition(100),
            Rot("150d"),
        ],
    ),
)
