(
    object_type: "item",
    id: "tomato-juice",
    
    image: (
        copyright: "T.Okubo",
        path: "tomato-juice.png",
    ),
    
    item: (
        item_kind: "food",
        group: "juice",
        gen_weight: 0,
        shop_weight: 1,
        gen_level: 1,
        basic_price: 1200,
        w: 150,
        attrs: [
            Nutrition(400),
            Rot("10h"),
        ],
    ),
)
