(
    object_type: "item",
    id: "vegetable-soup",
    
    image: (
        copyright: "T.Okubo",
        path: "vegetable-soup.png",
    ),
    
    item: (
        item_kind: "food",
        group: "dish",
        gen_weight: 0,
        shop_weight: 0,
        gen_level: 0,
        basic_price: 200,
        w: 500,
        attrs: [
            Nutrition(60),
            Rot(8),
        ],
    ),
)
